$primaryColor: #fc4501;

.membersSelectionSection {
  background-image: url("https://heimdall.xaes.dev/assets/images/pattern-white.svg?v=bd28762201");

  .membersSelectionContainer {
    padding: 144px 32px 0px;
    padding-bottom: 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 3.5rem;
    max-width: 1280px;
    align-items: center;

    .textContent {
      h1 {
        font-size: 48px;
        line-height: 108%;
        margin: 0px 0px 32px;
      }
      .subText {
        margin: 0px 0px 32px;
      }
    }
    img {
      width: 100%;
      border-radius: 1rem;
    }
    .sectionHeaderText {
      color: $primaryColor;
      display: flex;
      align-items: center;
      margin: 0px 0px 30px;
      font-size: 14px;
      font-weight: 500;
      .icon {
        margin-right: 15px;
        color: white;
        height: 32px;
        width: 32px;
        display: inline-block;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primaryColor;
      }
    }
    .authorInfo {
      display: flex;
      align-items: center;
      img {
        width: 32px;
        height: 32px;
        margin-right: 12px;
      }
      .authorName {
        display: flex;
        gap: 0.3rem;

        span {
          font-style: italic;
          color: rgb(131, 131, 131);
          font-size: 10px;
        }
        p {
          font-size: 12px;
          font-weight: 500;
          &:hover {
            color: $primaryColor;
          }
        }
      }
    }
  }
}

.viewMoreButton {
  border: none;
  background: none;
  font-size: 17px;
  font-weight: bold;
  margin-top: 1.7rem;
  border-bottom: 2px solid $primaryColor;
  padding-bottom: 7px;
  color: #fc4501;
  &:hover {
    color: black;
    border-bottom: 2px solid black;
  }
}
